/*DO NOT CHANGE*/
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #2c3e50;
  background-color: #ecf0f1;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-weight: bold;
}

a {
  color: #2c3e50;
  text-decoration: none;
  padding: 3px;
}

a:hover {
  color: #2c3e50;
  text-decoration: none;
  padding: 3px;
}

nav {
  background-color: #34495e;
  height: 50px;
}

/* CLASSES */
div.not-mobile a button.btn {
  height: 50px;
}

.center {
  padding-right: 50px;
  padding-left: 50px;
}

footer {
  height: 100%;
}

.footer {
  display: inline;
  color: #c4e538;
  list-style-type: none;
  margin: 5px;
  padding: 0px;
}

.center_footer {
  padding: 0 50px;
  text-align: center;
}

.contact_foot {
  width: 20%;
  float: right;
}

.voorw_foot {
  width: 20%;
}

.footer2 {
  color: #c4e538;
  list-style-type: none;
  margin: 5px;
  padding: 0px;
  text-align: right;
}

.footer:hover {
  color: #c4e538;
}

.footer_copy {
  text-align: center;
}

footer {
  background-color: #2c3e50;
  color: #c4e538;
  padding: 10px;
  margin-top: 10px;
}

.biosPhoto {
  width: 150px;
  position: static;
  float: right;
}

.accents {
  background-color: #c4e538;
  border: none;
  /*margin: 5px;*/
  float: right;
  padding: 0.5rem 1rem;
  margin-bottom: 0.3rem;
}

.title {
  margin-right: 20px;
  margin-top: -120px;
  margin-bottom: 65px;
}

.logo {
  width: 80%;
  margin-left: -5px;
  margin-top: -1px;
}

.con_title {
  text-align: center;
}

.con_in {
  padding: 5px;
}

.content {
  border: 1px solid black;
  content: "";
  display: table;
  /* margin: 15px; */
  height:100%;
  width: 100%;
  /* flex-wrap: wrap;
  display: flex; */
}

button.btn {
  background-color: #34495e;
  color: #c4e538;
  float: right;
}

button.btn:hover {
  background-color: #c4e538;
}

div.login {
  background-color: #c4e538;
  border: none;
  margin: 15px;
  padding: 5px;
}

div.login h2 {
  margin-top: 5px;
}

div.login button {
  background-color: #2c3e50;
  color: #c4e538;
  margin-bottom: 0px;
}

/*MEDIA SCREENS*/
@media (max-width: 768px) {
  .logo {
    width: 100%;
  }

  .title {
    margin-top: 0px;
    text-align: right;
  }

  .content{
    margin: 15px;
  }

  .con_title {
    font-size: 1.5em;
  }

  [class*="col-"] {
    width: 100%;
    margin: 15px;
  }
}

[class*="col-"] {
  width: 100%;
}

@media (min-width: 769px) {
  .title {
    text-align: right;
    font-size: 40px;
  }
  

  /* .content {
    margin-top: 30px;
    margin-bottom: 30px;
  } */

  [class*="col-"] {
    float: left;
    margin: 0 auto;
  }
}

@media (min-width: 1024px){
  .title {
    text-align: right;
    font-size: 60px;
  }
}



/* For mobile phones: */

/* Dropdown Button */
.dropbtn {
  background-color: #34495e;
  color: #c4e538;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.dropdown-content a:active {
  background-color: #34495e;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  right: 0px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #34495e;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

/* Show burger when mobile only */
.not-mobile {
  display: none;
}

.mobile {
  display: block;
  position: absolute;
  right: 0px;
}

@media only screen and (min-width: 600px) {
  .not-mobile {
    display: block;
  }
  .mobile {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

.row {
  flex-wrap: wrap;
  display: flex;
}

.content {
  height: 100%;
  flex-wrap: wrap;
  display: flex;
}

.con_title,
.con_in {
  width: 100%;
}

/* .email-button{
  display:table;
} */